// Print-only styles.
.side-bar{
  background-color: rgb(214, 214, 212);
}

.nav-list-item a{
  color: #7253ed;
}

.site-footer {
  display: none!important;
}

.site-header{
  border-bottom: 2px solid #c6c6c6;
  border-right: 2px solid #c6c6c6;
}

.main-header {
  border-bottom: 2px solid #c6c6c6;
}

.side-bar{
  border-right: 2px solid #c6c6c6;
}