@import "custom";        // imports _sass/custom.scss
@import "just-the-docs"; // imports the default styles

.nav-list-item a{
color: red;
}

.nav-list-item {
color: red;
}

.nav-list-link {
color: red;
}

.side-bar{
  background-color: rgb(0, 0, 0);}